

body{
    font-family: 'Oswald', sans-serif;
    
}


.app{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.wrap{
    width: 320px;
}

:root{
    --height: 46px;
}



.select{
    width: 100%;
    position: relative;
    z-index: 100;    
}



.select.open .select__dropdown{
    display: block;
}
.select.open .select__input{
    border-bottom: none;
}
.select.open .fa-solid{
    transform: rotate(180deg);
    transition: 0.15s linear;
}
.select.open [data-type="close"]{
    display: block;
}




.select .fa-solid{
    transition: 0.15s linear;
}




.select__input{
    border: 1px solid #3b3737;
    border-radius: 4px;
    padding: 0 10px;

    height: var(--height);

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    transition: 0.3s linear;    
}
.select__input:hover{
    background: rgba(128, 171, 207, 0.6);
    transition: 0.3s linear;
}
.select__input span,
.select__input .fa-solid{
    pointer-events: none;
}



.select__dropdown{
    display: none;

    position: absolute;
    border: 1px solid #3b3737;
    border-radius: 4px;

    top: var(--height);
    right: 0;
    left: 0;

    max-height: 200px;
    overflow-y: auto;

    box-shadow: 2px 3px 6px #8b8585;
}




.select__list{
    padding: 0;
    margin: 0;
    list-style: none;
}




.select__item{
    padding: 10px;
    border-bottom: 1px solid #3b3737;
    transition: 0.3s linear;
    cursor: pointer;  
}
.select__item.selected{
    background: rgba(116, 16, 16, 0.3);
    cursor: default;    
}
.select__item.selected:hover{
    background: rgba(116, 16, 16, 0.3);
}
.select__item:hover{
    background: rgba(128, 171, 207, 0.4);
    transition: 0.3s linear;
}



.select [data-type="close"]{
    background: transparent;
    display: none;

    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}